:root {
  font-family: Helvetica, sans-serif;
  color:black
}

body {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(1, 65, 95);
  min-width: 320px;
  min-height: 100vh;
}