@import "tailwindcss";

@theme {
  --color-bglight: #fcfcfc;
  --color-fgdark: #000000;
  --color-fglink: #172399;
  --color-fglight: #fcfcfc;
  --color-button: #383838;
  --color-buttonblue: #19358c;
  --color-buttongray: #878787;
  --color-devpostteal: #0f8eab;
  --color-linkedinblue: #0072b1;

  --font-sans: "Roboto", "sans-serif";
}

main {
  @apply text-fgdark flex justify-center text-base leading-6 sm:text-lg md:leading-relaxed;
}

p {
  @apply mb-3;
}

img {
  @apply h-full;
}

@utility link {
  @apply text-fglink hover:underline active:underline;
}

@utility box-shadow {
  box-shadow: 12px 12px rgba(0, 0, 0, 0.15);
}

@utility card {
  @apply box-shadow bg-bglight w-full overflow-hidden rounded-lg;
}

@utility project-card {
  @apply card flex max-h-80 min-h-52;
}

@utility project-card-small {
  @apply project-card min-h-48 flex-col text-sm sm:text-lg;
}

@utility project-content {
  @apply w-full p-3 sm:p-5;
}

@utility project-content-small {
  @apply p-3 pt-1 sm:p-4 sm:pt-2;
}

@utility project-header-row {
  @apply mb-3 flex max-h-fit items-center gap-2;
}

@utility project-header {
  @apply flex-shrink flex-grow overflow-hidden text-2xl leading-none font-bold sm:text-3xl;
}

@utility project-header-small {
  @apply project-header text-lg sm:text-xl;
}

@utility button {
  @apply bg-button text-fglight flex h-10 min-w-10 flex-shrink-0 cursor-pointer items-center rounded-md p-1.5 text-base font-semibold transition-opacity duration-200 hover:opacity-90 active:opacity-80;
}

@utility button-text {
  @apply hidden cursor-pointer px-2 md:block;
}

@utility project-img-container {
  @apply relative w-1/4 flex-shrink-0 overflow-hidden sm:w-1/3;
}

@utility project-img-container-top {
  @apply project-img-container h-1/3 w-full;
}

@utility project-img {
  @apply absolute h-full w-full object-cover transition-all duration-500 ease-out group-hover:scale-110 group-hover:opacity-80 group-active:opacity-70;
}
